# Backend API
VITE_API_URL=http://localhost:3001

# AWS Cognito
VITE_AWS_COGNITO_REGION=eu-west-2
VITE_AWS_USER_POOLS_ID=eu-west-2_Gr2NjlvAp
VITE_AWS_USER_POOLS_WEB_CLIENT_ID=17gsnli8i7lofcehq9nrlcqo21
VITE_AWS_COGNITO_IDENTITY_POOL_ID=eu-west-2:cab2fc4f-2977-4eef-90eb-e034ee8974a9

# Optional
VITE_GTM_CONTAINER_ID=
VITE_MAPBOX_API_KEY=
